In [1]:
from freesurfer_surface import Surface

SUBJECTS_DIR = '../tests/subjects'
surface = Surface.read_triangular(SUBJECTS_DIR + '/fabian/surf/lh.pial')
surface.load_annotation_file(SUBJECTS_DIR + '/fabian/label/lh.aparc.annot')
len(surface.annotation.vertex_values)

155622

In [2]:
surface.annotation.colortable_path.decode()

'/autofs/space/tanha_002/users/greve/fsdev.build/average/colortable_desikan_killiany.txt'

In [3]:
import pandas

vertex_frame = pandas.DataFrame({'vertex_index': vertex_index, 'annotation_value': annotation_value}
                                for vertex_index, annotation_value in surface.annotation.vertex_values.items())
vertex_frame.head()

   annotation_value  vertex_index
0           6558940             0
1           6558940             1
2           6558940             2
3           6558940             3
4           6558940             4

In [4]:
vertex_frame['annotation_value'].value_counts()

10542100    12532
9221140      9883
9182740      9792
8204875      9484
1351760      8156
0            8062
14423100     7944
1316060      7095
14474380     7006
14433500     6737
9211105      5636
11832480     5560
3302560      5207
9231540      5003
7874740      4756
3296035      4383
6500         4128
2146559      4117
6558940      3033
4924360      3017
9221340      2839
3957880      2734
3988540      2507
1326300      2460
14464220     2352
9180300      1861
9180240      1711
10511485     1362
2647065      1322
3302420      1078
3988500       991
13145750      990
660700        789
11146310      727
6553700       368
Name: annotation_value, dtype: int64