In [1]:
from freesurfer_surface import Surface

SUBJECTS_DIR = '../tests/subjects'
surface = Surface.read_triangular(SUBJECTS_DIR + '/fabian/surf/lh.pial')
surface.load_annotation_file(SUBJECTS_DIR + '/fabian/label/lh.aparc.annot')
len(surface.annotation.vertex_label_index)

155622

In [2]:
surface.annotation.colortable_path.decode()

'/autofs/space/tanha_002/users/greve/fsdev.build/average/colortable_desikan_killiany.txt'

In [3]:
import pandas

label_frame = pandas.DataFrame((dict(color_code=label.color_code,
                                     hex_color_code=label.hex_color_code,
                                     **vars(label))
                                for label in surface.annotation.labels.values()),
                               columns=['index', 'name', 
                                        'red', 'green', 'blue', 'transparency', 
                                        'hex_color_code', 'color_code'])
label_frame.drop(columns=['index']).head()

,name,red,green,blue,transparency,hex_color_code,color_code
0,unknown,25,5,25,0,#190519,0
1,bankssts,25,100,40,0,#196428,2647065
2,caudalanteriorcingulate,125,100,160,0,#7d64a0,10511485
3,caudalmiddlefrontal,100,25,0,0,#641900,6500
4,corpuscallosum,120,70,50,0,#784632,3294840

In [4]:
import pandas

vertex_frame = pandas.DataFrame({'vertex_index': vertex_index, 'label_index': annotation_value}
                                for vertex_index, annotation_value in surface.annotation.vertex_label_index.items())
vertex_label_frame = vertex_frame.merge(label_frame, left_on='label_index', right_on='index')
vertex_label_frame.head()

,label_index,vertex_index,index,name,red,green,blue,transparency,hex_color_code,color_code
0,5,0,5,cuneus,220,20,100,0,#dc1464,6558940
1,5,1,5,cuneus,220,20,100,0,#dc1464,6558940
2,5,2,5,cuneus,220,20,100,0,#dc1464,6558940
3,5,3,5,cuneus,220,20,100,0,#dc1464,6558940
4,5,4,5,cuneus,220,20,100,0,#dc1464,6558940

In [5]:
vertex_label_frame['name'].value_counts()

superiorfrontal             12532
superiorparietal             9883
lateraloccipital             9792
rostralmiddlefrontal         9484
supramarginal                8156
unknown                      8062
precentral                   7944
postcentral                  7095
superiortemporal             7006
inferiorparietal             6737
lingual                      5636
precuneus                    5560
middletemporal               5207
fusiform                     5003
inferiortemporal             4756
lateralorbitofrontal         4383
caudalmiddlefrontal          4128
insula                       4117
cuneus                       3033
medialorbitofrontal          3017
parsopercularis              2839
pericalcarine                2734
paracentral                  2507
parstriangularis             2460
posteriorcingulate           2352
isthmuscingulate             1861
rostralanteriorcingulate     1711
caudalanteriorcingulate      1362
bankssts                     1322
parsorbitalis                1078
parahippocampal               991
transversetemporal            990
entorhinal                    789
temporalpole                  727
frontalpole                   368
Name: name, dtype: int64