In [1]:
from freesurfer_surface import Surface

surface = Surface.read_triangular('../tests/subjects/fabian/surf/lh.pial')
len(surface.vertices)

155622

In [2]:
import pandas

vertex_frame = pandas.DataFrame(map(vars, surface.vertices))
vertex_frame.head()

    anterior     right  superior
0 -93.136818 -2.126251 -8.335812
1 -93.194458 -2.696686 -8.206024
2 -93.369530 -3.738874 -8.548558
3 -93.183983 -4.594223 -8.173017
4 -93.190521 -2.160212 -8.865552

In [3]:
vertex_frame.describe()

            anterior          right       superior
count  155622.000000  155622.000000  155622.000000
mean      -20.509144     -26.856146      24.335409
std        39.092622      18.796259      28.195845
min       -93.548004     -68.530327     -39.114269
25%       -53.572824     -41.877634       1.600599
50%       -23.102324     -26.917927      24.000984
75%        10.147226      -9.776343      47.299869
max        70.085968       7.291560      86.737892