In [1]:
from freesurfer_surface import Surface

surface = Surface.read_triangular('../tests/subjects/fabian/surf/lh.pial')
len(surface.vertices)

155622

In [2]:
import pandas

vertex_frame = pandas.DataFrame(surface.vertices)
vertex_frame.head()

      right   anterior  superior
0 -2.126251 -93.136818 -8.335812
1 -2.696686 -93.194458 -8.206024
2 -3.738874 -93.369530 -8.548558
3 -4.594223 -93.183983 -8.173017
4 -2.160212 -93.190521 -8.865552

In [3]:
vertex_frame.describe()

               right       anterior       superior
count  155622.000000  155622.000000  155622.000000
mean      -26.856146     -20.509144      24.335409
std        18.796259      39.092622      28.195845
min       -68.530327     -93.548004     -39.114269
25%       -41.877634     -53.572824       1.600599
50%       -26.917927     -23.102324      24.000984
75%        -9.776343      10.147226      47.299869
max         7.291560      70.085968      86.737892